
<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>晚年无忧</title>
    <meta name="description" content="这是一个 index 页面">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="apple-touch-icon-precomposed" href="i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <link rel="stylesheet" href="static/css/amazeui.min.css" />
    <link rel="stylesheet" href="static/css/admin.css">
    <link rel="stylesheet" href="static/css/app.css">
</head>

<body data-type="index">


       <header class="am-topbar am-topbar-inverse admin-header">
        <div class="am-topbar-brand">

        </div>
        <div class="am-icon-list tpl-header-nav-hover-ico am-fl am-margin-right">

        </div>

        <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only" data-am-collapse="{target: '#topbar-collapse'}"><span class="am-sr-only">导航切换</span> <span class="am-icon-bars"></span></button>

        <div class="am-collapse am-topbar-collapse" id="topbar-collapse">

            <ul class="am-nav am-nav-pills am-topbar-nav am-topbar-right admin-header-list tpl-header-list">
                <li class="am-dropdown" data-am-dropdown data-am-dropdown-toggle>


                <li class="am-dropdown" data-am-dropdown data-am-dropdown-toggle>
                    <a class="am-dropdown-toggle tpl-header-list-link" href="javascript:;">
                        <span class="tpl-header-list-user-nick">{{yonghu}}</span>
                    </a>
                     <script type="text/javascript">
    function f1(){
      window.location.href="/retry";
    }

</script>
                    <ul class="am-dropdown-content">
                        <li><a onclick="f1()"><span class="am-icon-power-off"></span> 退出</a></li>
                    </ul>
                </li>
                <li><a onclick="f1()" class="tpl-header-list-link"><span class="am-icon-sign-out tpl-header-list-ico-out-size"></span></a></li>
            </ul>
        </div>
    </header>







   <div class="tpl-page-container tpl-page-header-fixed">


        <div class="tpl-left-nav tpl-left-nav-hover">
            <div class="tpl-left-nav-title">
                晚年无忧首页
          </div>
            <div class="tpl-left-nav-list">
                <ul class="tpl-left-nav-menu">
                    <li class="tpl-left-nav-item">
                        <a href="/index1" class="nav-link active">
                            <span>首页</span>
                        </a>
                    </li>

                    <li class="tpl-left-nav-item">
                        <a href="/family" class="nav-link ">
                            <span>家庭组</span>
                        </a>
                    </li>

                    <li class="tpl-left-nav-item">
                        <a href="/KHlist" class="nav-link">
                            <span>紧急联系人</span>
                        </a>
                    </li>
					
					<li class="tpl-left-nav-item">
                        <a href="/message" class="nav-link">
                            <span>个人信息</span>
                        </a>
                    </li>
                    
                </ul>
            </div>
        </div>




        <div class="tpl-content-wrapper">
            <div class="tpl-content-page-title">
                晚年无忧
            </div>
            <ol class="am-breadcrumb">
                <li><a href="#" class="am-icon-home">首页</a></li>
            </ol>
            <div class="tpl-content-scope">
                <div class="note note-info">
                    <h3>
                        <span class="close" data-close="note"></span>
                    </h3>
                    <p> 本组成员：王浩 王天丰 张耀文</p>
                    <p><span class="label label-danger">提示:</span>您可以进行视频聊天，快速导航，紧急呼叫
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="am-u-lg-3 am-u-md-6 am-u-sm-12">
                    <div class="dashboard-stat blue">
                        <div class="visual">
                            <i class="am-icon-comments-o"></i>
                        </div>
                        <div class="details">
                            <div class="desc"> 快速导航 </div>
                        </div>
                        <a class="more" href="/map"> 查看
                    <i class="m-icon-swapright m-icon-white"></i>
                </a>
                    </div>
                </div>
                <div class="am-u-lg-3 am-u-md-6 am-u-sm-12">
                    <div class="dashboard-stat red">
                        <div class="visual">
                            <i class="am-icon-bar-chart-o"></i>
                        </div>
                        <div class="details">
                            <div class="desc"> 新闻 </div>
                        </div>
                        <a class="more" href="/xinwen"> 查看 <em class="m-icon-swapright m-icon-white"></em> </a></div>
                </div>
                <div class="am-u-lg-3 am-u-md-6 am-u-sm-12">
                    <div class="dashboard-stat green">
                        <div class="visual">
                            <i class="am-icon-apple"></i>
                        </div>
                        <div class="details">
                            <div class="desc"> 备忘录 </div>
                        </div>
                        <a class="more" href="/beiwang"> 查看
                    <i class="m-icon-swapright m-icon-white"></i>
                </a>
                    </div>
                </div>


                <div class="am-u-lg-3 am-u-md-6 am-u-sm-12">
                    <div class="dashboard-stat purple">
                        <div class="visual">
                            <i class="am-icon-apple"></i>
                        </div>
                        <div class="details">
                            <div class="number">视频通话 </div>
                        </div>
                        <a class="more" href="/shipin"> 进入
                    <i class="m-icon-swapright m-icon-white"></i>
                </a>
                    </div>
                </div>

               
                    </div>
                </div>



            </div>
</div>



    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/amazeui.min.js"></script>
    <script src="static/js/iscroll.js"></script>
    <script src="static/js/app.js"></script>
</body>

</html>