
<!DOCTYPE html>
<html>

<!-- Head -->
<head>

	<title>晚年无忧登录</title>

	<!-- Meta-Tags -->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
	<!-- //Meta-Tags -->

	<!-- Style --> <link rel="stylesheet" href="static/css/style1.css" type="text/css" media="all">
	<link rel="stylesheet" href="static/css/option.css">
<script type="text/javascript">{{script}}('{{wrong}}')</script>


</head>
<!-- //Head -->

<!-- Body -->
<body>

	<h1>晚年无忧欢迎您的登录</h1>

	<div class="container w3layouts agileits">

		<div class="login w3layouts agileits">
			<h2>登 录</h2>
			<form action="/index" method="post" id="login1">
				<input type="text" Name="Userame" placeholder="用户名" required="">
				<input type="password" Name="Password" placeholder="密码" required="">

			<ul class="tick w3layouts agileits">
			</ul>
			<div class="send-button w3layouts agileits">

					<input type="submit" value="登 录" name="login" />

			</div>
		    </form>
		    </div>
		<div class="register w3layouts agileits">
			<h2>注 册</h2>
			<form action="/regi" method="post" id="regist1">
				<input type="text" Name="UserID" placeholder="用户ID" required="">
				<input type="text" Name="Username1" placeholder="用户名" required="">
				<input type="password" Name="Password1" placeholder="密码" required="">
				<input type="password" Name="Password2" placeholder="确认密码" required="">
				<div class="">
					<select name="drop">
					<option value="0">老人</option>
                    <option value="1">子女</option>
				</select>
				</div>
			<div class="send-button w3layouts agileits">

				<input type="submit" name="regist" value="注册">

			</div>
			</form>
			<div class="clear"></div>
		</div>

		<div class="clear"></div>

	</div>

</body>
<!-- //Body -->

</html>